@charset "UTF-8";

table, th, td {
  border: 1px #111 solid;
  border-collapse: collapse;
}

th {
  color: #fff;
  background-color: #777;
  width: 160px;
}

td {
  text-align: center;
}

.flex {
  display: flex;
}

select {
  font-size: 16px;
  margin: 20px 0 0 20px;
}

input {
  margin-left: 20px;
}

button {
  margin-left: 20px;
}
